<form [formGroup]="form">

  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" formControlName="title">
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label>Date</label>
    <input type="text" class="form-control" formControlName="date">
  </div>

  <div class="form-group">
    <label>Image Uri</label>
    <input type="text" class="form-control" formControlName="imageUri">
  </div>

</form>
